table {
		border:5px  black;
		width:100%;
		background-color:#5551AE;
		
}
 
 
.box {
  width:100%;
  padding-top:5px;
  border-style:solid;
  border-color:#336699;
  border-width:1px;
  padding-left:3px;
  padding-bottom:10px;
  word-wrap: break-word;
  text-align:center;
  position:absolute;
  top:100px;
  background-color:pink;
  font-family:"Papyrus";
  font-size:25px;
  color:red;
}​




